{% extends 'base.html' %}

{% block body %}
<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">The Website for creating<br><span>DevOps Tools</span> </h1>
    <p class="mb-4 pb-0">A Simple Project to create tools in single click</p>
    <a href="input" class="btn" style="background-color:rgb(241,61,119);color:white;">Create/Connect/Destroy</a><br><br>
    <a href="status" class="btn" style="background-color:rgb(241,61,119);color:white;">Status</a>

  </div>
</section>

<!-- <main id="main">



  --==========================
      Speakers Section
    ============================-->
<!--  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
	      <h2>Our Team members</h2> -->
        <!-- <p>Here are some of our speakers</p> -->
 <!--     </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/1.jpg" alt="Speaker 1" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Shivanshu Suryakar</a></h3>
              <p>Full Stack Developer</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/2.jpg" alt="Speaker 2" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Ansh Shrivas</a></h3>
              <p>Full Stack Developer</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/3.jpg" alt="Speaker 3" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Dhiraj Shinde</a></h3>
              <p>SEO Expert</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/4.jpg" alt="Speaker 4" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Sandeep Raut</a></h3>
              <p>SEO Expert</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</section> -->

  <!--==========================
      F.A.Q Section
    ============================-->
<!--  <section id="faq" class="wow fadeInUp">

    <div class="container">

      <div class="section-header">
        <h2>How to Convert Text to HTML</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul id="faq-list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Go to Text Area.
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
		      <p>Click on red play button.
		</p>
	      </div>
            </li>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Enter Text.
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Enter the text in the textbox area.
                  <br>
                  <b>BOLD</b> - /This is a simple page
                  <br>
                  <hr>
                  <b>Paragraph</b> - This page contains all the basics.
                  <hr>
                  <br>
                  <b>LIST</b>:
                  <br>
                  - This is a list (1st element)
                  <br>
                  - This is the 2nd element 
                  <br>
                  - This is the 3rd element
                  <hr>
                  <br>
                  Here is a <b>paragraph</b>. Notice the double line-break.
                  <hr>
                  <br>
                  <b>ITALICS</b> :
                  <br>
                  You can format your text with various styles: *those words will be bold*.
                  If you prefer <b>italic</b>, **it's easy too !**
                  <hr>
                  <br>
                  <b>HEADER </b>:
                  <br>
                  //Here is another title
                  <hr>
                  <br>
                  <b>LINKS </b>:
                  <br>
                  You can embed links, just like this: __http://www.wikipedia.org__
                  <hr>
                  <br>
                  ///You got 3 different title sizes
                  <hr>
                  <br>
                  <b>IMAGE </b>:
                  <br>
                  What about a nice image ?
                  <hr>
                  <br>
                  img__flower.png__Image Title__
                  <hr>
                  <br>
                  <b>Embed tables:</b>
                  <br>
                  !! cell 1 !! cell 2 !! cell 3 !! cell 4 !!
                  !! cell 1b !! cell 2b !! cell 3b !! cell 4b !!
                  !! cell 1c !! cell 2c !! cell 3c !! cell 4c !!


                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Convert
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Now click on the Convert button given below.
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>

</section> -->




  <!--==========================
      Hotels Section
    ============================-->
<!--  <section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
	      <h2>REVIEWS</h2> -->
        <!-- <p>Here are some of our Happy Customers</p> -->
<!--      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/1.jpg" alt="Hotel 1" class="static/img-fluid">
            </div>
            <h3><a href="#">Kachara Seth</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>I have learnt HTML from your Site only</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/2.jpg" alt="Hotel 2" class="static/img-fluid">
            </div>
            <h3><a href="#">Raju</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-full"></i>
            </div>
            <p>Very Good site! ITUS has approved this site.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/3.jpg" alt="Hotel 3" class="static/img-fluid">
            </div>
            <h3><a href="#">Totla Seth</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>It really works!</p>
          </div>
        </div>

      </div>
    </div>

</section>





</main> -->


{% endblock body %}
