{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% block body %}

<!--<meta http-equiv="refresh" content="5"> -->
<section id="intro">
    <div class="intro-container wow fadeIn">
            <div class="form-group">
            {% csrf_token %}
            <p>No. of containers running = {{docker_container}}</p>
            <p>Total No. of containers running = {{total_docker_container}}</p>
            <p>No. of images running = {{docker_images}}</p>
            <p>No. of volumes running = {{docker_volumes}}</p>
            <p>No. of networks running = {{docker_networks}}</p>
            <p>{{text}}</p>
            <p class="w3-medium"><a href="/stop">Clear All</a></p>
            <p class="w3-medium"><a href="/index">Click here to go to main page</a></p>
            </div>
        </form>
    </div>
  </section>







{% endblock body %}
